.wrapper {
  padding-top: 20px;
  background: #40d802;
  /* background-image: url("https://1.bp.blogspot.com/-dV5F4jkTqt8/XOOwni4aNkI/AAAAAAAADF4/AcVRxpHu0Wc0ZduiXs3UZbfPX0F3nca_QCLcBGAs/s1600/nickelodeonclassicwp01-edit.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-left: 300px;
  padding-right: 300px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 75px;
}
